@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #eeeeee;
  align-content: flex-end;
}

.left-links, .right-links {
  display: flex;
  gap: 16px;
}

.left-links {
  padding-left: 1%;
}

.right-links {
  padding-right: 1%;
}

img {
  width: 600px;
}

a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 16px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
