/* Add CSS Styling */
.odd {
    background-color: lightpink;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#element2 {
    color: blue;
    font-size: 36px;
}

.big {
    font-size: 24px;
}

#element3 {
    background-color: lightgreen;
    font-weight: bold;
}